# this will be used to compose
baseDomain: local.me

# versions (own components)
# (using this notation for easier replacement with webhooks)
# we use our own iracelog-app.images template to handle these
ismVersion: v0.38.1
graphqlVersion: v0.7.0
iracelogVersion: v0.43.0

iracelogDomain: "iracelog.{{ .Values.baseDomain }}"
graphqlDomain: "graphql.{{ .Values.baseDomain }}"
grpcDomain: "grpc.{{ .Values.baseDomain }}"
tenantId: "" # may be empty

# global:
# imageRegistry: ghcr.io

ism:
  enabled: true
  registry: ghcr.io
  repository: mpapenbr/iracelog-service-manager-go
  replicaCount: 1
  secrets:
    adminToken: null
    providerToken: null
  resourcesPreset: micro
  containerPorts:
    http: 8080
    grpc: 8080
  livenessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  startupProbe:
    enabled: false
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  otlp:
    enabled: false
    endpoint: ""
    tls:
      enabled: false
      secretRef: ""
  nats:
    enabled: false
    endpoint:
  service:
    type: ClusterIP
    ports:
      http: 8080
    nodePorts:
      http: ""
    clusterIP: ""
    loadBalancerIP: ""
    loadBalancerClass: ""
    loadBalancerSourceRanges: []
    annotation: {}
    extraPorts: []
  # resources:
  #   requests:
  #     cpu: 250m
  #     memory: 20Mi
  #   limits:
  #     memory: 200Mi
  #     cpu: 1000m
  ingress:
    enabled: true
    hostname: iracelog.local
    path: "/"
    pathType: Prefix
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    tls: true

graphql:
  enabled: true
  registry: ghcr.io
  repository: mpapenbr/iracelog-graphql
  replicaCount: 1
  secrets:
    adminToken: null
    providerToken: null
  resourcesPreset: micro
  containerPorts:
    http: 8080
  livenessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  startupProbe:
    enabled: false
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  service:
    type: ClusterIP
    ports:
      http: 8080
    nodePorts:
      http: ""
    clusterIP: ""
    loadBalancerIP: ""
    loadBalancerClass: ""
    loadBalancerSourceRanges: []
    annotation: {}
    extraPorts: []
  # resources:
  #   requests:
  #     cpu: 250m
  #     memory: 20Mi
  #   limits:
  #     memory: 200Mi
  #     cpu: 1000m
  ingress:
    enabled: true
    hostname: iracelog.local
    path: "/"
    pathType: Prefix
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    tls: true

frontend:
  enabled: true
  registry: ghcr.io
  repository: mpapenbr/iracelog-web
  resourcesPreset: micro
  containerPorts:
    http: 80
  service:
    type: ClusterIP
    ports:
      http: 80
    nodePorts:
      http: ""
    clusterIP: ""
    loadBalancerIP: ""
    loadBalancerClass: ""
    loadBalancerSourceRanges: []
    annotation: {}
    extraPorts: []
  ingress:
    enabled: true
    hostname: iracelog.local
    path: "/"
    pathType: Prefix
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    tls: true

# otlp collector configuration
otlp:
  enabled: false
  # collector settings
  collector:
    enabled: false
    # endpoint for otlp collector
    endpoint: ""
    tls:
      enabled: false
      # name of the secret containing the TLS certs to be used by the otlp collector
      secretRef: ""
  certmanager:
    enabled: false
    spec: {}

nats:
  enabled: true
  #registry: ghcr.io
  repository: nats
  tag: "2.11.6-alpine3.22"
  replicaCount: 1
  secrets:
    adminToken: null
    providerToken: null
  resourcesPreset: micro
  containerPorts:
    client: 4222
    http: 8222
  livenessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  startupProbe:
    enabled: false
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  service:
    type: ClusterIP
    ports:
      client: 4222
    nodePorts:
      client: ""
    clusterIP: ""
    loadBalancerIP: ""
    loadBalancerClass: ""
    loadBalancerSourceRanges: []
    annotation: {}
    extraPorts: []

# configuration values for bitnami/postgres helm chart
postgresql:
  enabled: true
  auth:
    database: postgres
    postgresPassword: null

  metrics:
    enabled: false
  primary:
    resourcesPreset: micro
    # resources:
    #   requests:
    #     memory: 200Mi
    #   limits:
    #     memory: 2Gi
    #     cpu: 1500m

    #extraEnvVarsSecret: "iracelogapp-postgresql"
    initdb:
      scripts:
        init.sql: |
          CREATE EXTENSION "uuid-ossp"; 
          \connect template1;
          CREATE EXTENSION "uuid-ossp";
    extendedConfiguration: |
      shared_buffers = 512MB
      work_mem = 30MB
      fsync = off
